<h2>Por Capital</h2>
<hr />
<div class="row">
  <div class="col">
    <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar capital...">
    </app-pais-input>
  </div>
</div>

<ul class="list-group" *ngIf="mostrarSugerencias">
  <li
    *ngFor="let pais of busquedaSugerencia"
    (click)="buscar(pais.capital)"
    class="list-group-item list-group-item-action"
  >
      {{ pais.capital }}, {{ pais.name }}
  </li>
  <li class="list-group-item list-group-item-action">
    <a (click)="buscar(busqueda)" class="nav-link"> Buscar "{{ busqueda }}" </a>
  </li>
</ul>
<hr />

<div *ngIf="busquedaErr" class="alert alert-danger" role="alert">
  No se encontró el país {{ busqueda }}
</div>

<div *ngIf="busquedaCapital.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="busquedaCapital"></app-pais-tabla>
  </div>
</div>
